######################
# Node
######################
node_modules/
npm-debug.log.*
yarn-error.log

######################
# Intellij
######################
.idea/
*.iml

######################
# Visual Studio Code
######################
.vscode/

######################
# ESLint
######################
.eslintcache

target/
